.menu {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.stream-list {
  margin-left: 10px !important;
}

.stream-header {
  margin-left: 20px !important;
}

.new-stream {
  margin-right: 14px !important;
}

button {
  padding: 10px 14px !important;
  margin: 5px 10px 5px 0px !important;
}

.action-btn {
  margin-bottom: 15px !important;
}

span {
  font-weight: bold;
}

.google {
  padding-left: 10px;
} 

.loader {
  margin-right: 5px !important;
}

