.menu {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.stream-list {
  margin-left: 10px !important;
}

.stream-header {
  margin-left: 20px !important;
}

button {
  padding: 10px 5px !important;
  margin: 5px 10px 5px 0px !important;
}

.google {
  padding-left: 10px;
} 

.loader {
  margin-right: 5px !important;
}

