@font-face {
  font-family: 'silkscreen';
  src: local('silkscreen'), url(./slkscr.ttf) format('truetype');
}
@font-face {
  font-family: 'pixeboy';
  src: local('pixeboy'), url(./pixeboy.ttf) format('truetype');
}


/* Streamlist styles */
.right.menu {
  display: flex;
  align-items: center;
}

.right.menu > div {
  display: flex;
  align-items: center;
}

.right.menu > a {
  align-self: center !important;
}

div.ui.celled.list {
  display: flex;
  flex-wrap: wrap;
}

.ui.celled.list > .item {
  display: flex !important;
  flex-direction: column;
  position: relative;
  padding: 0px !important;
  margin: 5px;
  width: 135px;
}

.ui.celled.list > .item > .content {
  padding: 2;
}

.ui.celled.list > .item > .content > .header {
  padding: 5px 0px;
}

.ui.celled.list > .item,
.ui.celled.list > .item:last-child {
  border-top: none !important;
  border-bottom: none !important;
}

body .ui.list > .item > i.icon {
  content: '';
  display: block;
  background-size: cover;
  height: 180px;
  width: 135px;
  padding-right: 0px;
  align-self: center;
  border-radius: 8px;
}

.item:nth-child(1) i {
  background: url('./movies.jpeg');
}
.item:nth-child(2) i {
  background: url('./noodles.jpeg');
}
.item:nth-child(3) i {
  background: url('./sims4.jpeg');
}
.item:nth-child(4) i {
  background: url('./books.jpeg');
}
.item:nth-child(5) i {
  background: url('./talk2.jpeg');
}
.item:nth-child(6) i {
  background: url('./6.jpeg');
}
.item:nth-child(7) i {
  background: url('./7.jpeg');
}
.item:nth-child(8) i {
  background: url('./8.jpeg');
}
.item:nth-child(9) i {
  background: url('./9.jpeg');
}
.item:nth-child(10) i {
  background: url('./10.jpeg');
}
.item:nth-child(11) i {
  background: url('./11.jpeg');
}
.item:nth-child(12) i {
  background: url('./2.jpeg');
}
.item:nth-child(13) i {
  background: url('./13.jpeg');
}
.item:nth-child(14) i {
  background: url('./14.jpeg');
}
.item:nth-child(15) i {
  background: url('./15.jpeg');
}
.item:nth-child(16) i {
  background: url('./1.jpeg');
}

#root > div > div > div.ui.secondary.pointing.menu > a {
  font-family: pixeboy;
  font-size: 32px;
  padding: 8px;
}

.item > i:before {
  display: none !important;
}

.item .right.floated.content {
  position: absolute;
  top: 2px;
  right: 7px;
}

.item .right.floated.content a {
  padding: 0;
  background-color: inherit;
  color: rgba(0, 0, 0, 0);
  font-size: 1px;
}

.item .right.floated.content a:first-of-type:before {
  content: '✎';
  color: white;
  font-size: 12px;
  padding-right: 15px;
}

.item .right.floated.content a:nth-child(2):before {
  content: '✕';
  color: white;
  font-size: 12px;
}

body .ui.list > .item .description {
  font-family: silkscreen;
  font-size: 12px;
  color: #606060 !important;
}

h1,
h2,
h5 {
  display: none;
}

h3 {
  font-family: pixeboy;
  font-size: 24px;
}


div.ui.celled.list {
  justify-content: space-between;
  
}

video {
  width: 100%; 
  height: 320px;
  opacity: 0.7;
}

/* My Styles */

.menu {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.stream-list {
  margin-left: 10px !important;
}

.stream-header, .show-stream {
  margin-left: 20px !important;
}

.new-stream {
  /* margin-right: 0px !important;
  border: 1px solid red; */
}

button {
  padding: 10px 14px !important;
  margin: 5px 10px 5px 0px !important;
}

.action-btn {
  margin-bottom: 15px !important;
}

span {
  font-weight: bold;
}

.google {
  padding-left: 10px;
} 

.loader {
  margin-right: 5px !important;
}

.header:hover {
  cursor: pointer;
  text-decoration: underline;
}

